body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  /* width: 1158px; */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

img {
  display: block;
}
/* -------------------------------------- */
/*------------ header---------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-in-one {
  display: flex;
  align-items: center;
}

.header-navig {
  display: flex;
  flex-grow: 1;
  margin-right: 40px;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  display: flex;
  /* margin-right: 76px; */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 17px 0;
}

.span-logo {
  color: #2e2f42;
}
.header-list {
  display: none;
  /* gap: 40px; */
}

.header-items {
}

/* ------------------------------------- */

/* ----------------address----------------- */
.address {
  font-style: normal;
  /* display: block; */
  display: none;
}

.address-item {
}

.address-link:focus {
  color: #404bbf;
}
.menu-open-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.menu-open-svg {
}
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-menu-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover,
.close-menu-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-menu-btn:hover > .close-menu-svg,
.close-menu-btn:focus > .close-menu-svg {
  fill: #fff;
}
.mob-menu-list {
}
.mob-menu-items:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-link:active,
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
/* .one::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;

  border-radius: 2px;
}

.one {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-menu-address-item {
}
.mob-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-address-link:hover {
  color: #404bbf;
}
.mob-menu-link-list {
  display: flex;
  gap: 40px;
}
.mob-menu-link-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-icon {
  fill: #f4f4fd;
}

.mob-menu-link-icon:hover {
  background-color: #31d0aa;
}
.mob-menu-link-icon:focus {
  background-color: #31d0aa;
}
/* --------------------------------------- */

/* ----------------main-------------- */

.main {
}

/* --------------------------------------- */

/* ----------------solutions----------------------- */

.solution {
  /* max-width: 1440px; */
  background-color: #2e2f42;
  background-position: 120px;
  /* padding: 188px 0 188px; */
  padding: 72px 0 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob2x.jpg);
  }
}

.solution-title {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  /* line-height: 1.07; */
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
}

.solution-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  /* margin-top: 48px; */
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-button:focus {
  background-color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
}
.solution-button:hover {
  background-color: #404bbf;
}

/* ---------------------------------- */
/*---------- features ------------*/

.features 
  /* {padding: 120px 0 120px;
} */ {
  padding: 96px 0 96px;
}

.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.features-item {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  width: 100%;
}

.features-list-name {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; */

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-item {
  /* font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.div-icon {
  display: none;
}
/* ---------------------------------- */
/* -------------team ------------*/

.team {
}

.our-team {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  background-color: #f4f4fd;
  padding: 96px 0 96px;
}
.team-header {
  font-weight: 700;
  /* background-color: #f4f4fd; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.team-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
  padding: 32px 0 32px;
  text-align: center;
}

.team-pictures {
  width: 100%;
  height: auto;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-link-list {
  gap: 24px;
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  justify-content: center;
}
.team-link-item {
  width: 40px;
  height: 40px;
}
.team-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover {
  background-color: #404bbf;
}

.team-link:focus {
  background-color: #404bbf;
}
/*-------------------------------- */
/* ---------- products----------*/
.product {
  /* padding-bottom: 120px;
  padding-top: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  gap: 48px;
}

.product-list-item {
  /* width: calc((100% - 2 * 24px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-list-item:hover .product-cover-text {
  transform: translateY(0);
}

.product-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-pictures {
  display: block;
  max-width: 100%;
}

.product-subtitle {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.product-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-cover-wrap {
  position: relative;
  overflow: hidden;
}

/* --------------------------*/

/* ----------footer----------*/
.footer {
  background-color: #2e2f42;
  /* padding: 100px 0 100px; */
  padding: 96px 0 96px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  font-weight: 700;
  display: flex;
  justify-content: center;

  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-italic {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  min-width: 288px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 72px; */
  /* display: block; */
}
.logo {
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-text {
  /* margin-right: 120px; */
}
.social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* gap: 16px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  /* margin-top: 72px; */
}
.footer-list {
  gap: 16px;
  display: flex;
  justify-content: center;
}
.footer-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-link:hover {
  background-color: #31d0aa;
}
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-sbs {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin-bottom: 16px;
}
.footer-sbs-wrap {
  /* padding-left: 80px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-sbs-svg {
  fill: #fff;
}
.footer-form {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  opacity: 0.3;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-top: 8px;
  padding-left: 16px;
}

.footer-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 16px; */
}

/* --------------------------*/

/* ----------backdrop----------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover > .modal-close-svg,
.modal-close-button:focus > .modal-close-svg {
  fill: #fff;
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  padding-top: 24px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-field-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-field-icon {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}
.modal-field {
  margin-bottom: 8px;
}
.four {
  margin-bottom: 16px;
}
.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 8px 16px;
}

.modal-text:focus {
  border-color: #4d5ae5;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.check-icon-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-sbm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-sbm:hover {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0 24px;
    position: relative;
  }

  .one::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;

    border-radius: 2px;
  }

  .one {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:active,
  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    gap: 12px;
    margin-left: auto;
  }

  .address-link {
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 12px;
    /* line-height: 1.5;
  letter-spacing: 0.02em; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: #404bbf;
  }

  .menu-open-btn {
    display: none;
  }

  .address {
    display: block;
  }
  .solution {
    padding: 112px 0 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab\ 2x.jpg);
    }
  }

  .solution-title {
    max-width: 496px;
    line-height: 1.07;
    font-size: 56px;
  }

  .solution-button {
    margin-top: 36px;
  }

  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-item {
    gap: 64px 24px;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
  }

  .team-subtitle {
  }
  .product-list {
    gap: 72px 24px;
  }
  .team-container {
    width: 584px;
  }
  .product-list-item {
    width: calc((100% - 24px) / 2);
  }
  .footer-logo {
    justify-content: flex-start;
  }
  /* .footer-top {
    display: flex;
    gap: 24px;
  } */
  .footer-container {
    padding-left: 108px;
  }
  .footer-link-title {
    /* margin-top: 0; */
  }
  .footer-logo-text {
  }
  .footer-text {
    display: block;
    width: 264px;
  }
  .footer-sbs-wrap {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* width: 453px;
    height: 80px; */
  }
  .footer-btn {
    gap: 16px;
  }
  .footer-input {
    width: 264;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .social-links {
    align-items: baseline;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 24px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .solution {
    max-width: 1440px;

    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office\ 2x.jpg);
    }
  }
  .solution-button {
    margin-top: 48px;
  }

  .features {
    padding: 120px 0 120px;
  }

  .features-list {
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .features-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list-item {
    font-weight: 400;
  }
  .div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    gap: 24px;
  }

  .team-list {
    width: calc((100% - 72px) / 4);
  }
  .team-container {
    width: 1440px;
  }
  .product {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .product-list {
    gap: 48px 24px;
  }

  .product-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .footer {
    padding: 100px 0 100px;
  }
  .footer-container {
    flex-direction: row;
    gap: 0;

    /* display: flex;
  align-items: baseline; */
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
    display: block;
  }
  .footer-logo-text {
    margin-right: 120px;
  }
  .social-links {
    display: block;
  }
  .footer-sbs-wrap {
    /* padding-left: 80px; */
    margin-left: auto;
    display: inline;
  }
  .footer-top {
    gap: 0;
  }
  .footer-sbs {
    display: flex;
    align-items: left;
  }
}
